.App {
  text-align: center;
  font-family: sans-serif;
  padding-top: 100px;
}
body {
  width: 100%;
  margin: auto;
  background-color: #ddd;  
  height: 100%;
  
}
.todolist {
  background: #fff;
  font-size: 15px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px 20px 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.todo {
  display: block;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 auto;
  cursor: pointer; 
  border-bottom: solid 1px #ddd; 

}